body{
    background-color: 	#faf0e6;
    margin: 0;
    padding: 0;
    font-family: "Playfair Display";
}

.container{
    width: 20%;
    background-color: white;
    margin: auto;
    height: 530px;
    margin-top: 100px;
    padding: 0 20px 40px 20px ;

}
form{
    padding: 0 0 0 50px;
    margin-top: -50px;
}
.welcome{
    color: white;

}
form input{
    border: none;
    border-bottom: 1px solid gray;
    padding: 5px 40px 5px 5px;
    margin-bottom: 15px;
}
.bottom-container{
    padding-top: 50px;

}
.sign-in-btn{
    padding-top: 20px;
}
.a0{
    text-decoration: none;
    font-size: 23px;
}
.bottom-container a{
    color: #0a0a0a;
}
.a1{
    padding-right: 42px;
}